.section {
  padding: 64px 0 100px 0;
  background: #f3f3f3;
}

.container {
  margin: 0px 128px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item {
  width: 100%;
  background: #fbfbfb;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  gap: 24px;
}

.imgWrapper {
  border: 2px solid rgba(240, 63, 59, 0.2);
  border-radius: 30px;
  width: 120px;
  height: 120px;
  padding: 12px;
  position: relative;
  flex-shrink: 0;
}

.avatar {
  border-radius: 15px;
}

.circle {
  border-radius: 100%;
  background-color: #fbfbfb;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 9px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greenCircle {
  border-radius: 100%;
  background-color: #38cd3e;
  width: 10px;
  height: 10px;
}

.topRaw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.topRawDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.detailGroup {
  display: flex;
  align-items: center;
}

.divider {
  width: 1px;
  height: 16px;
  background-color: rgba(17, 16, 28, 0.2);
  flex-shrink: 0;
}

.icon {
  margin-right: 8px;
}

.textDetails {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #11101c;
}

.price {
  color: #38cd3e;
}

.iconHeart {
  margin-left: 32px;
}

.text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
  margin-bottom: 8px;
}

.name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: #11101c;
  margin-bottom: 24px;
}

.metaList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.metaItem {
  border-radius: 24px;
  padding: 8px 16px;
  height: 40px;
  background: #f3f3f3;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
}

.age {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #11101c;
}

.metaSpan {
  color: #11101c;
}

.about {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(17, 16, 28, 0.5);
  margin-bottom: 14px;
}

.button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #11101c;
  background-color: transparent;
}

.expandedInfo {
  margin-top: 48px;
}

.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 48px;
}

.reviewItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reviewHeader {
  display: flex;
  align-items: center;
  gap: 12px;
}

.reviewAvatar {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: rgba(240, 63, 59, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #f03f3b;
  flex-shrink: 0;
}

.reviewerName {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #11101c;
  margin-bottom: 4px;
}

.reviewRatingText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #11101c;
  display: flex;
  align-items: center;
}

.reviewComment {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(17, 16, 28, 0.5);
}

.appointmentButton {
  border-radius: 30px;
  padding: 14px 28px;
  min-width: 215px;
  min-height: 48px;
  background: #f03f3b;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #fbfbfb;
}
